// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-style: Open Sans;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  font-size: 15px;
}